
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 0.9375rem;
  }
  
  body {
    background-color: var(--very-dark-blue);
    color: var(--white);
    position: relative;
  }
  
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    min-height: 100vh;
  }